<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc1236.ms.mapper.system.MenuMapper">
    <select id="selectMenuByRoleIds" resultType="com.abc1236.ms.bo.MenuBO">
        SELECT m1.id                                        AS id,
        m1.icon                                      AS icon,
        (IF((m2.id = 0 OR m2.id IS NULL), 0, m2.id)) AS parentId,
        m1.name                                      AS name,
        m1.url                                       AS url,
        m1.levels                                    AS levels,
        m1.ismenu                                    AS ismenu,
        m1.num                                       AS num,
        m1.code                                      AS code,
        m1.status                                    AS status,
        m1.component                                 AS component,
        m1.hidden                                    AS hidden
        FROM t_sys_menu m1
        LEFT JOIN t_sys_menu m2 on m1.pcode = m2.code
        WHERE m1.component is not null
        and m1.component != ''
        and m1.id IN(SELECT DISTINCT(menuid)
        FROM t_sys_relation WHERE roleid IN
        <foreach collection="roleIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>)
        ORDER BY levels, num ASC
    </select>

    <select id="selectMenu" resultType="com.abc1236.ms.bo.MenuBO">
        SELECT m1.id                                        AS id,
               m1.icon                                      AS icon,
               (IF((m2.id = 0 OR m2.id IS NULL), 0, m2.id)) AS parentId,
               m1.name                                      AS name,
               m1.url                                       AS url,
               m1.levels                                    AS levels,
               m1.ismenu                                    AS ismenu,
               m1.num                                       AS num,
               m1.code                                      AS code,
               m1.status                                    AS status,
               m1.component                                 AS component,
               m1.hidden                                    AS hidden
        FROM t_sys_menu m1
                 LEFT JOIN t_sys_menu m2
            ON
                m1.pcode = m2.CODE
        ORDER BY levels, num ASC
    </select>

    <select id="selectMenuIdByRoleId" resultType="java.lang.Long">
        select menuid
        from t_sys_relation
        where roleid = #{roleId}
    </select>

    <select id="selectMenuTreeList" resultType="com.abc1236.ms.vo.node.ZTreeNode">
        SELECT m1.id                                               AS id,
               (IF((m2.id = 0 OR m2.id IS NULL), 0, m2.id))        AS pId,
               m1.NAME                                             AS name,
               (IF((m2.id = 0 OR m2.id IS NULL), 'true', 'false')) AS open
        FROM t_sys_menu m1
                 LEFT JOIN t_sys_menu m2 ON m1.pcode = m2.CODE
        ORDER BY m1.id ASC
    </select>

    <select id="selectMenuTreeListInMenuIds" resultType="com.abc1236.ms.vo.node.ZTreeNode">
        SELECT m1.id                                               AS id,
        (IF((m2.id = 0 OR m2.id IS NULL), 0, m2.id))        AS pId,
        m1.name                                             AS name,
        (IF((m2.id = 0 OR m2.id IS NULL), 'true', 'false')) AS open,
        (IF((m3.id = 0 OR m3.id IS NULL), 'false', 'true')) AS checked
        FROM t_sys_menu m1
        LEFT JOIN t_sys_menu m2 ON m1.pcode = m2.code
        LEFT JOIN (SELECT id
        FROM t_sys_menu WHERE id IN
        <foreach collection="menuIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        ) m3
        ON m1.id = m3.id
        ORDER BY m1.id ASC
    </select>
</mapper>